.main {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.item {
  height: 300px;
  width: 300px;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  background: black;
}

.item h3 {
  font-size: 20px;
}

.item p {
  font-weight: bold;
}

.addToCart {
  background: coral;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.cartQuantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cartQuantity button {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
}
